.App {
  text-align: center;
} 

body, html {
  overflow-x: hidden;
  max-width: 100vw;
}



.App-logo {
  height: 40vmin; 
  max-width: 80%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100%; /* Ensure no element overflows */
  padding: 0 15px; /* Adds padding to prevent content from hitting edges */
  box-sizing: border-box; /* Ensures padding is counted in total width */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  
